
body{
	font-family: Actor, sans-serif;
	margin: 0;
	padding: 0;
}

	#form_wrapper {
		width: 700px;
		height: 600px;
		margin: 0 auto;
		font-size: 20px;
		color: #666;
	}

	h2 {
		font-size: 35px;
		color: #8B008B;
	}

.field input{
	width: 200px;
	padding: 10px;
	color: #666;
	font-size: 15px;
}

textarea{
	font-size: 18px;
	color: #666px;
	width: 300px;
	max-width: 300px;
	height: 100px;
	max-height: 200px;
}

.sub input{
	width: 80px;
	height: 30px;
	background-color: #8B008B;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

label {
	margin-left: 30px;
}

